<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="../public/css/extramark.css" type="text/css" rel="stylesheet" />
</head>

<body>

<div id="bannerContainer" class="bannerContainer_sitemap">
  <div class="aboutusContainer">
<div style="border-bottom:1px solid #ddd; padding-bottom:10px; margin-bottom:10px;">
	<h1 class="crisp-splash-header">CBSE</h1>
        <div class="clear">&nbsp;</div>
    </div>
     
      <div class="crisp-g">
      <div class="crisp-u-1-3">
      <h2 class="skill-tree-skills-header">
      	<a href="/class-detail">Class - Nursery</a>
      	</h2>
		 <ul class="skill-tree-skills">
              
                <li class="skill-tree-skill-node"><span class="skill-tree-skill-name">Mathematics</span></li>
              
                <li class="skill-tree-skill-node"><span class="skill-tree-skill-name">Environmental Science</span></li>
              
                <li class="skill-tree-skill-node"><span class="skill-tree-skill-name">English : Rhymes</span></li>
              
               <li class="skill-tree-skill-node"><span class="skill-tree-skill-name">Hindi</span></li>
              
               <li class="skill-tree-skill-node"><span class="skill-tree-skill-name">Conceptual Skills</span></li>
                
                 <li class="skill-tree-skill-node"><span class="skill-tree-skill-name">Moral Science</span></li>
                 <li class="skill-tree-skill-node"><span class="skill-tree-skill-name">Knowllypedia</span></li>
                 <li class="skill-tree-skill-node"><span class="skill-tree-skill-name">English Language</span></li>
        </ul>
            
            <h2 class="skill-tree-skills-header">
            	<a href="/class-detail">Class - KG</a></h2>
		 <ul class="skill-tree-skills">
              
                 <li class="skill-tree-skill-node"><span class="skill-tree-skill-name">Mathematics</span></li>
              
                <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Environmental Science</span>
                </li>
              
                <li class="skill-tree-skill-node">
                
                <span class="skill-tree-skill-name">English : Rhymes</span>
               </li>
              
               <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Hindi</span>
                </li>
              
               <li class="skill-tree-skill-node">
                
                <span class="skill-tree-skill-name">Conceptual Skills</span>
                </li>
                
                 <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Moral Science</span>
               </li>
                 <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Knowllypedia</span>
                </li>
                 <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">English Language</span>
                </li>
        </ul>
        
        
        <h2 class="skill-tree-skills-header"><a href="javascript:;">Class - I</a></h2>
		 <ul class="skill-tree-skills">
              
                 <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Mathematics</span>
                </li>
              
                <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Environmental Science</span>
                </li>
              
                <li class="skill-tree-skill-node">
                
                <span class="skill-tree-skill-name">English : Rhymes</span>
               </li>
              
               <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Hindi</span>
                </li>
              
               <li class="skill-tree-skill-node">
                
                <span class="skill-tree-skill-name">Conceptual Skills</span>
                </li>
                
                 <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Moral Science</span>
               </li>
                 <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Knowllypedia</span>
                </li>
                 <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">English Language</span>
                </li>
        </ul>
        
        <h2 class="skill-tree-skills-header"><a href="javascript:;">Class - II</a></h2>
		 <ul class="skill-tree-skills">
              
                 <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Mathematics</span>
                </li>
              
                <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Environmental Science</span>
                </li>
              
                <li class="skill-tree-skill-node">
                
                <span class="skill-tree-skill-name">English : Rhymes</span>
               </li>
              
               <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Hindi</span>
                </li>
              
               <li class="skill-tree-skill-node">
                
                
                <span class="skill-tree-skill-name">Conceptual Skills</span>
                </li>
                
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Moral Science</span>
               </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Knowllypedia</span>
                </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">English Language</span>
                </li>
        </ul>
        
         <h2 class="skill-tree-skills-header"><a href="javascript:;">Class - III</a></h2>
		 <ul class="skill-tree-skills">
              
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Mathematics</span>
                </li>
              
                <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Environmental Science</span>
                </li>
              
                <li class="skill-tree-skill-node">
                
                
                <span class="skill-tree-skill-name">English : Rhymes</span>
               </li>
              
               <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Hindi</span>
                </li>
              
               <li class="skill-tree-skill-node">
                
                
                <span class="skill-tree-skill-name">Conceptual Skills</span>
                </li>
                
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Moral Science</span>
               </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Knowllypedia</span>
                </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">English Language</span>
                </li>
        </ul>

      </div>
<div class="crisp-u-1-3">
  			
        <h2 class="skill-tree-skills-header"><a href="javascript:;">Class - IV</a></h2>
		 <ul class="skill-tree-skills">
              
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Mathematics</span>
                </li>
              
                <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Environmental Science</span>
                </li>
              
                <li class="skill-tree-skill-node">
                
                
                <span class="skill-tree-skill-name">English : Rhymes</span>
               </li>
              
               <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Hindi</span>
                </li>
              
               <li class="skill-tree-skill-node">
                
                
                <span class="skill-tree-skill-name">Conceptual Skills</span>
                </li>
                
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Moral Science</span>
               </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Knowllypedia</span>
                </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">English Language</span>
                </li>
        </ul>
        
        <h2 class="skill-tree-skills-header"><a href="javascript:;">Class - V</a></h2>
		 <ul class="skill-tree-skills">
              
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Mathematics</span>
                </li>
              
                <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Environmental Science</span>
                </li>
              
                <li class="skill-tree-skill-node">
                
                
                <span class="skill-tree-skill-name">English : Rhymes</span>
               </li>
              
               <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Hindi</span>
                </li>
              
               <li class="skill-tree-skill-node">
                
                
                <span class="skill-tree-skill-name">Conceptual Skills</span>
                </li>
                
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Moral Science</span>
               </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Knowllypedia</span>
                </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">English Language</span>
                </li>
        </ul>
        
         <h2 class="skill-tree-skills-header"><a href="javascript:;">Class - VI</a></h2>
		 <ul class="skill-tree-skills">
              
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Mathematics</span>
                </li>
              
                <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Environmental Science</span>
                </li>
              
                <li class="skill-tree-skill-node">
                
                
                <span class="skill-tree-skill-name">English : Rhymes</span>
               </li>
              
               <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Hindi</span>
                </li>
              
               <li class="skill-tree-skill-node">
                
                
                <span class="skill-tree-skill-name">Conceptual Skills</span>
                </li>
                
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Moral Science</span>
               </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Knowllypedia</span>
                </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">English Language</span>
                </li>
        </ul>
        
         <h2 class="skill-tree-skills-header"><a href="javascript:;">Class - VII</a></h2>
		 <ul class="skill-tree-skills">
              
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Mathematics</span>
                </li>
              
                <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Environmental Science</span>
                </li>
              
                <li class="skill-tree-skill-node">
                
                
                <span class="skill-tree-skill-name">English : Rhymes</span>
               </li>
              
               <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Hindi</span>
                </li>
              
               <li class="skill-tree-skill-node">
                
                
                <span class="skill-tree-skill-name">Conceptual Skills</span>
                </li>
                
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Moral Science</span>
               </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Knowllypedia</span>
                </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">English Language</span>
                </li>
        </ul>
        
         <h2 class="skill-tree-skills-header"><a href="javascript:;">Class - VIII</a></h2>
		 <ul class="skill-tree-skills">
              
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Mathematics</span>
                </li>
              
                <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Environmental Science</span>
                </li>
              
                <li class="skill-tree-skill-node">
                
                
                <span class="skill-tree-skill-name">English : Rhymes</span>
               </li>
              
               <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Hindi</span>
                </li>
              
               <li class="skill-tree-skill-node">
                
                
                <span class="skill-tree-skill-name">Conceptual Skills</span>
                </li>
                
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Moral Science</span>
               </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Knowllypedia</span>
                </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">English Language</span>
                </li>
        </ul>
        

      
      </div>
      <div class="crisp-u-1-3">
        <h2 class="skill-tree-skills-header"><a href="javascript:;">Class - IX</a></h2>
		 <ul class="skill-tree-skills">
              
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Mathematics</span>
                </li>
              
                <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Environmental Science</span>
                </li>
              
                <li class="skill-tree-skill-node">
                
                
                <span class="skill-tree-skill-name">English : Rhymes</span>
               </li>
              
               <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Hindi</span>
                </li>
              
               <li class="skill-tree-skill-node">
                
                
                <span class="skill-tree-skill-name">Conceptual Skills</span>
                </li>
                
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Moral Science</span>
               </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Knowllypedia</span>
                </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">English Language</span>
                </li>
        </ul>
        
                
                
                   <h2 class="skill-tree-skills-header"><a href="javascript:;">Class - X</a></h2>
		 <ul class="skill-tree-skills">
              
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Mathematics</span>
                </li>
              
                <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Environmental Science</span>
                </li>
              
                <li class="skill-tree-skill-node">
                
                
                <span class="skill-tree-skill-name">English : Rhymes</span>
               </li>
              
               <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Hindi</span>
                </li>
              
               <li class="skill-tree-skill-node">
                
                
                <span class="skill-tree-skill-name">Conceptual Skills</span>
                </li>
                
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Moral Science</span>
               </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Knowllypedia</span>
                </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">English Language</span>
                </li>
        </ul>
        
                
      		   <h2 class="skill-tree-skills-header"><a href="javascript:;">Class - XI</a></h2>
		 <ul class="skill-tree-skills">
              
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Mathematics</span>
                </li>
              
                <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Environmental Science</span>
                </li>
              
                <li class="skill-tree-skill-node">
                
                
                <span class="skill-tree-skill-name">English : Rhymes</span>
               </li>
              
               <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Hindi</span>
                </li>
              
               <li class="skill-tree-skill-node">
                
                
                <span class="skill-tree-skill-name">Conceptual Skills</span>
                </li>
                
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Moral Science</span>
               </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Knowllypedia</span>
                </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">English Language</span>
                </li>
        </ul>
        
                  <h2 class="skill-tree-skills-header"><a href="javascript:;">Class - XII</a></h2>
		 <ul class="skill-tree-skills">
              
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Mathematics</span>
                </li>
              
                <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Environmental Science</span>
                </li>
              
                <li class="skill-tree-skill-node">
                
                
                <span class="skill-tree-skill-name">English : Rhymes</span>
               </li>
              
               <li class="skill-tree-skill-node">
                 
                <span class="skill-tree-skill-name">Hindi</span>
                </li>
              
               <li class="skill-tree-skill-node">
                
                
                <span class="skill-tree-skill-name">Conceptual Skills</span>
                </li>
                
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Moral Science</span>
               </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">Knowllypedia</span>
                </li>
                 <li class="skill-tree-skill-node">
                 
                
                <span class="skill-tree-skill-name">English Language</span>
                </li>
        </ul>
        
                
      
      </div>
      </div>
      
      
      
     <p style="font-size:11px;"><strong>Note</strong>: All Contents are dummy</p>
    <div class="clear">&nbsp;</div>
  </div>
</div>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="../public/js/custom.js"></script>
</body>
</html>
